.game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: white;
  font-family: 'SchoolBell', sans-serif;
  padding: 2rem 4rem;
  gap: 2rem;
}

.game-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.game-details h1 {
  text-align: center;
}

.scores {
  font-size: 1.5rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 1rem;
  justify-content: center;
  align-content: center;
}

.game-over-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 80vh;
  font-family: 'Schoolbell';
  gap: 2rem;
}

.game-over-screen .controls {
  display: flex; 
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
}

.controls button {
  padding: 1rem;
}

.controls button:hover {
  color: green;
}

.status-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Schoolbell', sans-serif;
  color: white;
  height: 80vh;
}

.game-screen .controls {
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
  padding: 1rem;
}

.hidden {
  display: none;
}